# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.venv/

# macOS-related files
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env
.env.*

# Byte-compiled files
*.pyc

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE-specific files
.idea/
.vscode/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# Test-related files
.tox/
.nox/
.pytest_cache/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
